:root {
    --aa-text-color-rgb: 0, 0, 0;
    --aa-text-color-alpha: 1;
    --aa-icon-color-rgb: 241, 100, 30;
    --aa-input-border-color-rgb: var(--aa-text-color-rgb);
    --aa-panel-border-color-rgb: var(--aa-text-color-rgb);
    --aa-primary-color-rgb: var(--aa-icon-color-rgb);
    --aa-muted-color-alpha: .5;
    --aa-muted-color-rgb: var(--aa-text-color-rgb);
    --aa-selected-color-alpha: .25;
    --aa-selected-color-rgb: var(--aa-icon-color-rgb);

    --spacing-unit: 1rem;
    --spacing-xxs: calc(0.25 * var(--spacing-unit));
    --spacing-xs: calc(0.5 * var(--spacing-unit));
    --spacing-sm: calc(0.75 * var(--spacing-unit));
    --spacing-md: calc(1 * var(--spacing-unit));
    --spacing-lg: calc(2 * var(--spacing-unit));
    --spacing-xl: calc(3 * var(--spacing-unit));
}

body {
    font: 14px "Helvetica Neue", Helvetica, sans-serif;
}

a, a:focus, a:link, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

header,
main {
    padding: var(--spacing-lg) 16%;
}

header {
    border-bottom: 1px solid rgba(var(--aa-muted-color-rgb), .25);
    box-shadow: 0 var(--spacing-xxs) var(--spacing-xxs) calc(-1 * var(--spacing-xxs)) rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
    margin-bottom: var(--spacing-lg);
}

header h1 {
    color: rgb(var(--aa-icon-color-rgb));
    font: var(--spacing-lg) "DomaineText", Georgia, serif;
}

a:hover,
/* E.g. .ais-NumericMenu-item--selected, .ais-RefinementList-item--selected, etc. */
[class^=ais-][class*=-item--selected] {
    color: rgb(var(--aa-primary-color-rgb));
    fill: rgb(var(--aa-primary-color-rgb));
    text-decoration: none;
}

#autocomplete {
    margin-top: var(--spacing-lg);
}

.free-shipping-label {
    background-color: #d4e9d7;
    border-radius: var(--spacing-lg);
    padding: var(--spacing-xxs) .75rem;
    font-size: .75rem;
}

.hit-brand,
.hit-description,
.hit-free-shipping,
.hit-name,
.hit-price,
.hit-rating {
    margin-top: var(--spacing-xs);
}

.hit-image {
    align-items: center;
    aspect-ratio: 1/1;
    border: 1px solid #f3f3f3;
    display: flex;
    justify-content: center;
    width: 100%;
}

.hit-description,
.hit-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.hit-name {
    -webkit-line-clamp: 2;
}

.hit-description {
    -webkit-line-clamp: 4;
}

.hit-price {
    font-weight: bold;
}

#search-panel {
    display: flex;
}

.search-panel-filters {
    flex: 0 0 25%;
}

.search-panel-filters > div,
#sort-by {
    margin-bottom: var(--spacing-md);
}

#pagination {
    margin: var(--spacing-lg) auto;
    text-align: center;
}

[class^=ais-][class$=-count]::before {
    content: ' (';
}

[class^=ais-][class$=-count]::after {
    content: ')';
}

/* E.g. button.ais-Menu-showMore, button.ais-RefinementList-showMore, etc. */
button[class^=ais-][class*=-showMore],
.aa-ClearButton,
.ais-ClearRefinements-button,
.ais-SortBy-select {
    background-color: #ffffff;
    border: 1px solid rgb(var(--aa-primary-color-rgb));
    color: rgb(var(--aa-text-color-rgb));
}

button[class^=ais-][class*=-showMore]:not([disabled]),
.ais-ClearRefinements-button,
.ais-SortBy-select {
    border-radius: var(--spacing-lg);
    color: rgb(var(--aa-text-color-rgb));
    cursor: pointer;
    fill: rgb(var(--aa-text-color-rgb));
    padding: var(--spacing-xxs) var(--spacing-xs);
}

button[class^=ais-][class*=-showMore] {
    margin-top: var(--spacing-xs);
}

/* E.g. button.ais-Menu-showMore, button.ais-RefinementList-showMore, etc. */
button[class^=ais-][class*=-showMore--disabled],
.ais-ClearRefinements-button--disabled,
.ais-Pagination-item.ais-Pagination-item--disabled .ais-Pagination-link {
    border-color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
    color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));;
    cursor: default;
}

button[class^=ais-][class*=-showMore]:not([disabled]):hover,
.aa-SubmitButton,
.aa-ClearButton:hover,
.aa-ItemActionButton:hover,
.ais-ClearRefinements-button:hover,
.ais-SortBy-select:hover,
.ais-Pagination-item--selected .ais-Pagination-link,
.ais-Pagination-link:hover {
    background-color: rgb(var(--aa-primary-color-rgb));
    color: #ffffff;
}

button[class^=ais-][class*=-showMore]:not([disabled]):hover svg,
.aa-SubmitButton svg,
.aa-ItemActionButton:hover svg {
    fill: #ffffff;
}

button[class^=ais-][class*=-showMore--disabled],
.ais-Pagination-item--disabled {
    display: none;
}

.aa-ClearButton,
.aa-ItemActionButton,
.aa-SubmitButton {
    border-radius: var(--spacing-xl);
    cursor: pointer;
    box-sizing: border-box;
    justify-content: center;
    margin-left: var(--spacing-xs);
    padding: 0;
    text-align: center;
}

.aa-ClearButton,
.aa-SubmitButton {
    height: var(--spacing-xl);
    width: var(--spacing-xl);
}

.aa-Form {
    all: unset;
    display: flex;
}

.aa-Form:focus-within {
    box-shadow: none;
}

.aa-InputWrapper {
    order: 1;
}

.aa-InputWrapperPrefix,
.aa-InputWrapperSuffix {
    all: unset;
}

.aa-InputWrapperPrefix {
    order: 2;
}

.aa-InputWrapperSuffix {
    order: 3;
}

.aa-Input {
    border: 2px solid rgb(var(--aa-input-border-color-rgb));
    border-radius: var(--spacing-xl);
    box-shadow: none;
    height: var(--spacing-xl);
    padding-left: var(--spacing-md);
}

.aa-ItemActionButton,
.aa-ItemActionButton svg {
    color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
}

.aa-Panel button {
    margin-right: var(--spacing-xs);
}

.ais-HierarchicalMenu-list--child {
    margin-left: var(--spacing-xs);
}

.ais-HierarchicalMenu-item {
    color: rgb(var(--aa-text-color-rgb));
}

.ais-Hits-list {
    column-gap: var(--spacing-lg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    list-style-type: none;
    row-gap: var(--spacing-lg);
}

.ais-Hits-item article img {
    max-width: calc(100% - var(--spacing-lg));
    max-height: calc(100% - var(--spacing-lg));
}

.ais-NumericMenu-label,
.ais-NumericMenu-radio,
.ais-Pagination-link,
.ais-RefinementList-checkbox,
.ais-RefinementList-label,
.ais-ToggleRefinement-label {
    cursor: pointer;
}

.ais-Highlight-highlighted,
.ais-NumericMenu-label:hover,
.ais-Pagination-link,
.ais-RefinementList-label:hover,
.ais-ToggleRefinement-label:hover {
    color: rgb(var(--aa-icon-color-rgb));
}

.ais-Highlight-highlighted {
    background: none;
}

.ais-NumericMenu-radio,
.ais-RefinementList-checkbox,
.ais-ToggleRefinement-checkbox {
    margin: 0 var(--spacing-xxs) 0 0;
}

.ais-Pagination-item {
    display: inline-block;
    border-radius: var(--spacing-md);
}

.ais-Pagination-link {
    border: 1px solid rgb(var(--aa-icon-color-rgb));
    border-radius: var(--spacing-lg);
    display: inline-block;
    height: var(--spacing-lg);
    line-height: var(--spacing-lg);
    margin: 0 0 var(--spacing-xs) var(--spacing-xs);
    width: var(--spacing-lg);
}

.ais-Pagination-item:first-child .ais-Pagination-link {
    margin-left: 0;
}

.ais-Pagination-item.ais-Pagination-item--disabled .ais-Pagination-link:hover {
    background: none;
}

.ais-Panel-body {
    margin-top: var(--spacing-xs);
}

.ais-Panel-header {
    font-weight: bold;
}

.ais-Panel {
    margin-bottom: 24px;
}

.ais-RatingMenu-starIcon {
    height: var(--spacing-md);
    margin-bottom: -2px;
    vertical-align: baseline;
    width: var(--spacing-md);
}

.search-panel-filters .filter-title {
    font-weight: bold;
    margin-bottom: var(--spacing-xs);
}

@media screen and (max-width: 992px) {
    header,
    main {
        padding: var(--spacing-lg) var(--spacing-lg);
    }

    .search-panel-filters {
        flex: 0 0 33%;
    }

    .ais-Hits-list {
        column-gap: var(--spacing-md);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        list-style-type: none;
        row-gap: var(--spacing-md);
    }
}
